.name{
   font-size:60px;
  float:left ;
  font-family:fantasy;
  text-align: center;
}

h1{
    text-align: center;
    color:blue;
}

h3{
    color:blue;
}
.about{
 background-color: rgb(253, 248, 236);
 width: 100%;
}
.me{
    text-align: center;
    font-size: larger;
}

.ME{
   float:right;
   font-size: 40px;
}

.port{
    padding: 20px;
}

.cont{
    background-color: rgb(252, 248, 235);
}

.copyright{
    text-align: center;
}